<div class="card text-center">
 <div class="card-body">
 <h5 class="card-title">Agradecemos pela escolha</h5>
 <p class="cardtext">Site desenvolvido por storke.inc</p>
 </div>
 <div class="card-footer text-muted">
 ©2021 Copyright: Storke
 </div>
</div>