<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container-fluid">
 <a class="navbar-brand" href="#">STORKE</a>
 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
 <li class="nav-item">
 <a class="nav-link active" ariacurrent="page" href="/">Home</a>
 </li>
<li class="nav-item">
 <a class="nav-link" href="/rota_cliente/cliente">Cadastrar</a>
 </li>

<!--<li class="nav-item">
 <a class="nav-link" href="/rota_produto/produto">Produto</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" href="/rota_locacao/locacao">Locação</a>
 </li>-->
 <li class="nav-item">
 <a class="nav-link" href="/login">Sair</a>
 </li>
 </ul>
 </div>
 </div>
</nav>