<main>
  <section class="banner" id="home">
        <div class="textBx">
            <h2 style="color: #111"><span>STORKE</span></h2>
            <h3 style="color: #111"></h3>
            <a href="#about" class="btn">Sobre</a>
        </div>
    </section>

    <section class="about" id="about">
        <div class="heading">
            <h2>Sobre</h2>
        </div>
        <div class="content">
            <div class="contentBx w50">
                <h3>Quem somos nós</h3>
                <p>  <h6>A Storke é um novo e-commerce que está surgindo no mercado de vendas. 
                    Com o objetivo de facilitar vendas, trocas e doações de produtos infantis, ela conta com um aplicativo/site completo e prático.
                     Uma inovação nunca vista antes e que vai dar um rumo prático e consciente para as roupas e brinquedos do seu filho, 
                    gerando renda extra para você, uma compra mais barata ou uma roupa para quem mais precisa.</h6></p>
            </div>
            <div class="w50">
                <img src="/public/img/img1.png" class="img">
            </div>
        </div>
           </section>
    <section class="services" id="services">
        <div class="heading write">
            <h2>Produtos</h2>
        </div>
        <div class="content">
            <div class="servicesBx">
                <img src="public/img/icon1.png">
                <h2>Carrinhos de bebê</h2>
                <p>Os melhores carrinhos para o seu bebê, com muito mais 
                    conforto e praticidade, além de pratico  para o dia a dia dos pais os nossos 
                    carrinnhos são leves e compactos.
                </p>
            </div>
            <div class="servicesBx">
                <img src="public/img/icon2.png">
                <h2>Roupas infântis</h2>
                <p>Roupinhas infântis para o seu bebê de até 4 anos, com uma vasta variedade de roupas
                    para meninas e meninos.
                </p>
            </div>
            <div class="servicesBx">
                <img src="public/img/icon3.png">
                <h2>Brinquedos</h2>
                <p>Diversos brinquedos e jogos para o lazer do seu filho, com uma vasta variedade 
                    e opções.
                </p>
            </div>
            <div class="servicesBx">
                <img src="public/img/icon4.png">
                <h2>Higiene</h2>
                <p>Fraldas e outros diversos produtos de higiene para sua criança, de diversos tipos
                    e marcas lideres do mercado.
                </p>
            </div>
            <div class="servicesBx">
                <img src="public/img/icon5.png">
                <h2>Acessórios infântis</h2>
                <p>Uma vasta variedade de Acessórios e itens para auxiliar no cuidado do seu bebê,
                    de diversas marcas e tipos tanto para meninas e quanto para meninos.
                </p>
            </div>
            <div class="servicesBx">
                <img src="public/img/icon6.png">
                <h2>Livros e jogos</h2>
                <p>Livros e jogos infântis para auxiliar no aprendizado do seu filho(a),
                    com uma vasta variedade de temas e tipos.
                </p>
            </div>
        </div>
    </section>
    <section class="work" id="work">
        <div class="heading">
            <h2>Galeria</h2>
        </div>
        <div class="content">
            <div class="workBx">
                <img src="public/img/product1.png">
            </div>
            <div class="workBx">
                <img src="public/img/product2.jpg">
            </div>
            <div class="workBx">
                <img src="public/img/product3.jpg">
            </div>
            <div class="workBx">
                <img src="public/img/product4.jpg">
            </div>
         </div>
            <div class="heading">
               <a href="#" class="btn">Ver mais</a>
            </div>
       
    </section>

    
    </section>
</main>